@import url(./font.css);
@import url(./toastify.css);

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-mute;
}

::-webkit-scrollbar {
  @apply w-1;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-IranSans box-border m-0 p-0 border-0;
}

body {
  @apply overflow-x-hidden bg-body;
}

a {
  @apply text-inherit no-underline;
}

li {
  @apply list-none;
}

input {
  @apply outline-none border-none;
}

button {
  @apply bg-transparent border-none outline-none;
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.plyr {
  --plyr-color-main: theme("colors.primary.500") !important;
  border-radius: 10px;
}

@layer components {
  .input {
    @apply min-h-[60px] w-full px-[27px] rounded-[10px] text-mute placeholder:text-[#5d5a6fa5] font-medium 
    transition-all duration-300 autofill:bg-white;
  }
  .input-filled {
    @apply bg-white border-none focus:shadow-lg focus:shadow-shadowRoot focus:border-mute;
  }
  .input-filled.error {
    @apply bg-red-200 text-white
  }
  .input-outlined {
    @apply bg-transparent border-2 border-solid border-[#DEDDE4] focus:shadow-none focus:border-primary-500;
  }
  .input-outlined.error {
    @apply border-red-500
  }
  .coursesContainer {
    @apply w-full grid grid-cols-1 gap-x-5 gap-y-[64px] 
    sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 md:gap-x-10 md:gap-y-24;
  }
  .divider {
    @apply w-full h-[1px] bg-gradient-to-r from-transparent via-typography to-transparent;
  }
  .tbody-row {
    @apply text-typography my-10
  }
  .tbody-row > td {
    @apply px-5 py-4 border-y-2 border-solid border-gray-200 first-of-type:border-r-2 whitespace-nowrap
    first-of-type:rounded-r-[15px] last-of-type:border-l-2 last-of-type:rounded-l-[15px]
  }
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    @apply hidden;
  } 
}
